.header {
  background: var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12.5rem;
  position: relative;
}

.header h1{
  color: #5E60CE
}
  
  .header img {
    height: 2rem;
  }